@font-face {
    font-family: 'Plumb-Black';
    src: url('./fonts/plumb-black.ttf');
    font-weight: normal;
    font-style: normal;
  }




@font-face {
    font-family: 'MyriadPro-Cond';
        
    src: url('./fonts/myriad_pro-cond.ttf');
    font-weight: normal;
    font-style: normal;
  }

    